.slide_product{
    //滚动

 ion-scroll{
    background: #f8f8f8;
     width:100%;
     height: 30px;
 
 }
 ul{
     list-style: none; 

     padding: 0px 5px;

     li{
         width: 80px;
         height: 5px;
         float: left;
         margin-right: 10px;
         text-align: center;
        

     }
 }
}
.clearfix:after{

    content: "";
    display: block;
    height:0px;
    clear: both;
  }
  .navbar{
    border:none;
  }
  .div{
    line-height:5px;
    z-index:20;
  }

  page-home {
    .map_container {
      width: 100%;
      height: 100%;
      z-index:-1;
    }
  }